h1 {
    color: black;
    margin-top: -5px;
    margin-bottom: 30px;
}

.info-card {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: rgb(255, 255, 255);
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    border-radius: 20px;
}

.info-card input {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
    border: 1px solid #999;
    outline: none;
}

.info-card button {
    font-weight: bold;
    margin-top: 20px;
    background-color: #1c8adb;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.info-card button:hover {
    background-color: #1caedb;
}

.info-card img {
    width: 70px;
    margin-top: -50px;
}

.info-card .small-text a{
    font-weight: bold;
    color: black;
}